@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Yeseva+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Yeseva+One&display=swap);
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
}
.header{
    display: flex;
    width:100%;
    color:black;
    flex-direction: column;
    position: relative;
    height:90vh;
}

.header-slider-container{
    height:70vh;
    margin:0 5rem auto auto;
    margin-bottom:15rem;
}
.header-slider-wrapper{
    width:95vw;
    height:70vh;
    margin:0 auto;
    position: relative;
    display: flex;
    justify-content:space-between;
}
.slider{
    margin: 1rem;
    min-width:29vw;
    height:80vh;
    overflow: hidden;
}
.slider1{
    position:absolute;
    top:20vh;
    left:0;
}
.slider2{
    position:absolute;
    top:17vh;
    left:50%;
    transform: translateX(-50%);
}
.slider3{
    position:absolute;
    top:20vh;
    right:0;
}
.slider .header-slider-image{
    width:33vw;
    height:70vh;
    object-fit: cover;
    position: absolute;
    z-index:-1;

}
@keyframes sliderText1 {
    0%{
        left:-50%;
        opacity: 0;
        height:5rem;
    }
    50%{
        left:50%;
        height:5rem;
        font-size: 2.4vw;
    }
    100%{
        left:0;
        opacity: 1;
        height:5rem;
    }
}
@keyframes sliderText2 {
    0%{
        left:-50%;
        opacity: 0;
        height:5rem;
    }
    50%{
        left:50%;
        height:5rem;
        font-size: 2.4vw;
    }
    100%{
        left:0;
        opacity: 1;
        height:5rem;
    }
}
@keyframes sliderText3 {
    0%{
        top :-50%;
        opacity: 0;
        height:5rem;
    }
    50%{
        left:50%;
        height:5rem;
        font-size: 2.4vw;
    }
    100%{
        left:0;
        opacity: 1;
        height:5rem;
    }
}
.user-history{
    display: flex;
    justify-content: space-between;
    width:10%;
}
.logo{
    min-width:20rem;
}
.search-bar{
    width:60%;
    position: relative;
}
.search-bar input{
    width:100%;
    padding:.6rem;
    border-radius: 10px;
    outline:none;
}
.search-icon{
    color:white;
    position:absolute;
    font-size: 2rem;
    right:0;
    transform: translate(-10%,10%);
    background-color: black;
    border:2px solid red;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}
.logo-search-user{
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-around;
    position:fixed;
    background-color: white;
    z-index: 10;
    width:100vw;
    height:10vh;
    z-index: 11;
}
.user-history{
    position:absolute;
    z-index: 8;
    top: 30%;
    right:0;
    transform: translateX(-50%);
}
.user-history a{
    color:white;
    font-size: 1.5rem;
}
.logout-btn{
    background-color: red;
    color:white;
    padding:.5rem 1rem;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: none;
    text-transform: capitalize;
}

.user-history a:hover{
    color:teal;
}
.home-container{
    min-width: 90%;
}

.border-div{
    max-width: 70vw;
    min-height:50vh;
    padding:1vw 1vh;
    line-height: 1.8rem;
    margin:1rem auto;
    font-size: 1.5rem;
    box-shadow: 5px 5px 5px 5px rgba(201, 181, 181, 0.5);
}
.border-div {
    margin-bottom: 2rem;
}
.call-to-action-btn{
    background-color: black;
    color:white;
    font-size: large;
    padding:.5rem 1rem;
    margin:2rem 2rem;
    margin-top: 2rem;
}
.call-to-action-btn:hover{
    background-color: grey;
}
.secondary-heading{
    display: flex;
    justify-content: center;
    padding:.6rem;
    font-size: 2.4rem;
    font-family: "Permanent Marker", cursive;
    background-color: red;
}

.form-container{
    width:90%;
    height:100%;
    margin:2rem auto;
    justify-content: center;
}
.form-container h2{
    text-align: center;
    padding-bottom: .4rem;
}
.form-details{
    width:90%;
    margin:2rem auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    place-self: center;
    place-content: center;
}
.form-right-half{
    width:25rem;
}
.form-left-half{
    width:25rem
}
.form-element{
    width:100%;
    margin:.5rem auto;
    font-size: 1.4rem;

    padding:.4rem;
}
.form-element select{
    width:80%;
}
.form-element input{
    font-size: 1rem;
    outline: none;
    border:1px solid grey;
    padding:.5rem 1rem;
    border-top: none;
    border-radius: 5px;
    width:80%;
    display: block;
}

.login-signup-btn{
    padding:.5rem 4rem;
    font-size: 1rem;
    text-transform: capitalize;
    cursor:pointer;
    margin:1rem 0;
    outline: none;
    background-color: teal;
    border:none;
    border-radius: 10px;
    color:white;
}
.login-signup-btn:hover{
    border:2px solid red;
}
.login-form-control{
    width:50vw;
    margin:3rem auto;
}
.form-btns{
    display: flex;
    width:100vw;
    justify-content: space-between;
    place-content: center;
    place-self: center;
    place-items: center;
    box-sizing: border-box;
}
.apply-from-login{
    margin:0 2rem;
}
/* Teams section*/
.our-team{
    max-width: 100vw;
    margin:auto;
    margin:8vh 0;
    background-color: black;
    color: white;
}
.team-employees-card-wrapper{
    display: flex;
    justify-content: space-around;
    margin:1rem 0;
    color:white;
}
.team-employee-card{
    /* width:15rem; */
    min-width: 30vh;
    border:3px solid teal;
    border-radius: 15px;
    margin: 2rem;
}
.employee-details-wrapper{
    width:100%;
    margin:auto;
    padding:1rem;
    font-family: "Yeseva One", serif;
}
.employee-details-wrapper .employee-name{
    font-size: 2.8vw;
}
.employee-details-wrapper .employee-role{
    font-size: 2.2vh;
    color:grey;
}
footer{
    margin-top: 10vh;
}
.footer-section{
    width:95vw;
    display: grid;
    margin:auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 15vh 30vh 10vh;
}

.newsletter{
    grid-column: 1/4;
    grid-row: 1;
    place-items: center;
    text-align: center;
    font-size: 2.4vw;
    border-bottom: 2px solid black;
}
.newsletter input{
    padding:.5rem;
    margin:.2rem .5rem;
    border:1px solid teal;
    outline: none;
}
.address-section{
    grid-column: 1/2;
    grid-row: 2;
    font-size: 1.3rem;
    line-height: 1.9rem;
    display: flex;
    justify-content: end;
}
.links{
    grid-column: 2/4;
    grid-row:2;
    display: flex;
    justify-content: space-around;
    color:grey
}
.links .tertiary-heading{
    font-size:1.3rem;
    text-transform: capitalize;
}
.links ul{
    list-style: none;
    margin:.5rem;
}
.links ul li{
    padding:.3rem;;
    font-size: 1.2rem;
    cursor:pointer;
}
.links ul li a{
    color:grey;
    text-decoration: none;
}
.copyright{
    margin:auto;
}
@media (max-width: 760px) {
    
    .form-element{
        flex-direction: row;
    }
    /* h1, h2, h3, h4, h5{
        font-size: 4.6vw;
    } */
    .employee-details-wrapper .employee-name{
        font-size: 6vw;
    }
    .employee-details-wrapper .employee-role{
        font-size: 4vw;
    }
    .employee-role{
        font-size: 2.6vw;
    }
}
@media (max-width:940px){
    /* h1, h2, h3, h4, h5{
        font-size: 4vw;
    }
    p{
        font-size: 4.2vw;
    } */
    .secondary-heading{
        font-size: 4.3vw;
    }
    .header-slider-container{
        height:90vh;
        margin-bottom:15rem
    }
    .header-slider-wrapper{
        width:100vw;
        height:90vh;
        position: relative;
        display: flex;
        justify-content:space-between;
    }
    .slider{
        height:50vh;
    }
    .slider .header-slider-image{
        width:33vw;
        height:50vh;
        object-fit: cover;
        position: absolute;
        z-index:-1;
    }
    .slider1{
        position:absolute;
        top:6%;
        left:0;
    }
    .slider2{
        position:absolute;
        top:0;
        left:50%;
        transform: translateX(-50%);
    }
    .slider3{
        position:absolute;
        top:10%;
        right:0;
    }
    .our-team{
        margin:2rem 0; 
    }
    .team-employees-card-wrapper{
        display: flex;
        justify-content: space-between;
        color:white;
    }
    .employee-details-wrapper .employee-name{
        font-size: 4.4vw;
    }
    .employee-role{
        font-size: 2.6vw;
    }
    .team-employee-card{
        min-width: 30vw;
        border:3px solid teal;
        border-radius: 15px;
        margin: 2rem .5rem;
        max-height: 50vh;
    }
    .team-employee-card img{
        height:30vh;
        width:100%;
        object-fit: contain;
    }
    .border-div{
        max-width:95vw;
        padding:.5rem
    }
    .form-container{
        width:90%;
        height:100%;
        margin:2rem auto;
        align-content: center;
        flex-wrap: wrap;
    }
    .form-left-half{
        width: 100%;
    }
    .form-element input[type="file"]{
        width:100%;
        padding:0;
        border:0;
    }
    .form-right-half{
        width:100%;
    }
    .footer-section{
        margin-top: 2rem;
        width:95vw;
        display: grid;
        margin:auto;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 10vh 20vh 10vh;
    }
    .newsletter{
        grid-column: 1/3;
        grid-row: 1;
        /* display: flex; */
        place-items: center;
        text-align: center;
        font-size: 1.2rem;
    }
    .newsletter input{
        padding:.5rem;
        margin:.2rem 1rem;
        border:1px solid teal;
        outline: none;
    }
    .newsletter svg{
        font-size: 5vw;
    }
    .address-section{
        grid-column: 1/2;
        grid-row: 2;
    }
    .links{
        grid-column: 2/4;
        grid-row:2;
        display: flex;
        justify-content: space-around;
        color:grey;
        font-size: 2.3vw;
        flex-wrap: wrap;
    }
    .copyright{
        grid-column: 1/3;
        grid-row: 3;
    }
}
@media  (max-width:760px) {
    .header{
        height:auto;
        /* overflow: hidden; */
    }
    .logo-search-user{
        position: relative;
        width:80vw;
        align-self: right;
        float: right;
        z-index: 4;
        height:7vh;
    }
    .logo{
        width:30vw;
    }
    .user-history{
        right:20%;
    }
    .navigation-menu a{
        color:black;
        text-decoration: none;
    }
    .navigation-menu--small-screen{
        display: flex;
        position: absolute;
        padding:10px;
        width:100vw;
        top:10px;
        z-index: 1;
        height:80vh;
    }
    .navigation-menu--small-screen a{
        color:black;
        text-decoration: none;
        font-family: "Yeseva One", serif;
    }
    .navigation-menu--small-screen .nav-links{
        list-style:none;
        padding:1vh 0;
        margin: 3rem 0;
        width:100vw;
        font-size: 1.4rem;
        font-family: "Yeseva One", serif;
        background-color: white;
    }
    .navigation-menu--small-screen .nav-links li{
        padding:1rem 1rem;
        color:black;
        cursor: pointer;
        width:auto;
        font-family: "Yeseva One", serif;
    }
    .navigation-menu--small-screen .nav-links li:hover{
        padding-left: 1rem;
        background-color: red;
    }
    .navigation-menu--small-screen .models-group{
        position: relative;
    }
    .models-group .menu-model-categories{
        position:absolute;
        transform: translate(35%, 0%);
        background-color: teal;
        width:100%;
        top:0;
        left:0;
        min-width: 14rem;
        width:fit-content;
        height:fit-content;
        display: none;
    }
    .models-group:hover .menu-model-categories{
        display: block;
        transition: 1s ease-in-out;
    
    } 
    .models-group .menu-model-categories ul{
        display: flex;
        flex-direction: row;
    }
    .models-group .menu-model-categories ul li{
        display: inline-block;
        width:100%;
        font-size: 2.2rem;
    } 
    .models-group .menu-model-categories ul .models-group__subgroup ul{
        display: flex;
        flex-direction: column;
        padding: 5px 0;
    }
    .models-group .menu-model-categories ul .models-group__subgroup ul li{
        padding: 5px 0;
    } 
    .menu-control{
        position: absolute;
        top:0;
        z-index: 4;
    }
    .hidden{
        display: none;

    }
}
.sticky-menu{
    top:7%;
    position:fixed;
    background-color: white;
    z-index: 10;
    width:100vw;
    height:10vh;
}
.logo-search-user{
    background-color: black;
}
.navigation-menu--wrapper{
    margin: 1rem 0;
    padding-top:1rem;
    font-size: large;
    font-weight: 500;

}
.navigation-menu{
    width:70%;
    margin:auto;
}
.navigation-menu ul{
    display: flex;
    width:99%;
    gap:5px;
    list-style: none;
    margin:5px auto;
}
.navigation-menu ul li{
    width:100%;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    font-family: "Yeseva One", serif;
}
.navigation-menu ul li ul{
    display: none;
    margin:5px 0;
}
.navigation-menu ul li ul li{
    padding:5px 0;
}
.menu-model-categories{
    display: flex;
    flex-direction: row;
}
.navigation-menu ul li:active{
    color:teal;
}
.navigation-menu ul li:hover ul{
    display:flex;
}
.history-watchlist{
    display: flex;
    gap:2.5rem;
}
.models-group{
    position: relative;
    align-items: center;
    margin:auto;
}
.menu-model-categories{
    background-color: teal;
    position:absolute;
    transform: translateX(-50%); /* Center horizontally */
    min-width: 14rem;
    width:25rem;
    height: fit-content;
    display: none;
    left:50%;
}
.models-group:hover .menu-model-categories{
    display: block ;
}
.menu-control{
    border:none;
    font-size: 1.5rem;
    background-color: transparent;
    padding:.5rem;
    border:2px solid red;
    border-radius: 5rem;
}
.nav-links li a{
    width:100%;
    height:fit-content
}


.models-showcase{
    display: flex;
    width:100%;
    justify-content: center;
    flex-direction: column;
    margin: auto;;
}
.flex-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:2rem;
    color:white;
    font-size: 1.3rem;
}
.social-media-contacts{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.social-media-contacts > *{
    width:2rem;
    height:auto;
    background-color: black;
    border:2px solid red;
    color:color;
    border-radius: 50%;
    cursor: pointer;
}
.homepage-models--wrapper{
    display: flex;
    width:100%;
    flex-direction: column;
}
/* models page */
.alphabet-filter--wrapper{
    width:100%;
    display: flex;
    justify-content: center;
    place-self: center;
    place-content: center;
    place-items: center;
}
.models-main-heading{
    align-items: center;
    text-transform: capitalize;
    margin:.5rem auto;
}
.alphabet-filter{
    display: flex;
    min-width:80%;
    justify-content: space-around;
    margin:1em auto;
    place-self: center;
    flex-wrap: wrap;
}
.alphabet-btn{
    background-color: white;
    color:black;
    border-radius: 5rem;
    border:1px solid black;
    font-size: 1.5rem;
    padding:.7rem .5rem;
    cursor: pointer;
}
.alphabet-btn:hover{
    background-color: teal;
    transition: 300ms ease;
    text-decoration: underline;
    border:1px solid white;
    color:white;
}
.models-filters-wrapper{
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 74%;
}
.models-page--showcase{
    display: grid;
    max-width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap:0;
    margin: auto;;
}
.model-wrapper{
    width: 18rem;
    border-radius: 5px;
    margin: .5rem;
    border:1px solid grey;
}
.model-wrapper:hover{
    box-shadow: 5px 5px 5px 5px gray;
}
.model-image--wrapper{
    max-width: 17rem;
    margin: .5rem auto;
    width:100%;
    border-radius: 5px;
}
.model-image{
    width:100%;
    object-fit: cover;
    height:22rem;
    border-radius: 5px;
}
.model--content{
    padding:.5rem;
}
.model--content--wrapper{
    line-height: 1.5rem;
}
/* Filters */
.models-model-filters{
    width:30vw;
}
.filter-btn-wrapper{
    position: relative;
}
.filters{
    position:absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    z-index: 2;
    background-color: white;
}
.filters .filter-elements input{
    border:none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    outline: none;
    font-size: large;
}
.filters .filter-elements *{
    width:100%;
    padding:0.4rem
}
.filters .filter-elements button{
    border:none;
    background-color: teal;
    color:white;
    cursor: pointer;
    font-size: medium;
}
.filters .filter-elements{
    margin:.5rem 0 0 0;
}
.filters .clearFilters{
    color:white;
    background-color: red;
    padding:0.4rem;
    cursor: pointer;
}

.logo-search-user{
    border:1px solid green
}

/*specific model details page*/
.model-details-page--wrapper{
    width:100%;
    margin: auto;
}
.model-details--wrapper{
    margin:10rem auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 3rem 25rem 1fr;
    max-width: 95vw;
}
.model-name--wrapper{
    margin:auto;
    grid-column: 2/3;
    padding:.2rem
}
.models-details--profile{
    max-width: 100%;
    grid-column: 1/2;
    grid-row: 2;
    min-height: 20rem;
}
.model-details-wrapper{
    width:100%;
    grid-column: 2/3;
    grid-row: 2;
    max-width: 15rem;
    padding:1rem;
    text-transform: capitalize;
    margin-top: 2rem;
    line-height: 2rem;
}
.model-contacts{
    margin-top:1rem;
    max-width: 70%;
    border:1px solid red
}
.model-details--motivation{
    width:100%;
    grid-column: 3/5;
    grid-row: 2;
    padding:1rem;
    min-height: 5rem;
    height:25rem;
}
.models-details--profile img{
    width:100%;
    height:100%;
    object-fit: contain;
}
.model-details--gallery{
    grid-column: 1/5;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
    place-items: center;
    gap:.5rem;
}
.gallery-item{
    width: 18rem;
    height:18rem;
    border:1px solid black
}
.gallery-image{
    width:100%;
    height:100%;
}
.gallery-item:hover{
    box-shadow: 5px 5px 5px 5px gray;
}
@media (max-width:740px){

}
@media (max-width:940px){
    .models-filters-wrapper{
        width:100%;
        display: flex;
        flex-direction: column;
    }
    .model--experience{
        font-size: 1.03rem;
    }
    .model--country{
        font-size: 1.1rem;
    }
    .model--name{
        font-size:1.5rem;
    }
    .models-model-filters{
        min-width:100%;
        border:1px solid black
    }
    .models-page--showcase{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        place-items: center;
    }
    .model-wrapper{
        width: 10rem;
        border-radius: 5px;
        margin: .5rem;
        font-size: .6rem;
        height:22rem
    }
    .model-image--wrapper{
        max-width: 50vw;
        margin: .5rem auto;
        width:100%;
        border-radius: 5px;
    }
    .model--content--wrapper{
        line-height: 1.1rem;
    }
    .model-image{
        width:100%;
        object-fit: cover;
        height:20rem;
        border-radius: 5px;
        margin-top:0;
    }
    
    /* Filters */
    .models-model-filters{
        width: 100%;
    }
    .filters{
        width:50vw;
    }
    .model--content--wrapper{
        line-height: 1rem;
    }
    .model-details--wrapper{
        margin:auto;
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: 2rem 20rem 10rem 1fr;
        max-width: 95vw;
        grid: 1rem;
    }
    .models-details--name{
        grid-column: 1;
        grid-row: inherit;
    }
    .models-details--profile{
        width:20rem;
        grid-column: 1/2;
        grid-row: 2;
        height: 20rem;
    }
    .model-details-wrapper{
        width:100%;
        grid-column: 2/3;
        grid-row: 2;
        margin-right: 1rem;
        min-width: 100%;
        line-height: 1rem;
    }
    .model-details--motivation{
        width:100%;
        grid-column: 1/3;
        grid-row: 3;
        height:fit-content
    }
    .model-details--gallery{
        grid-column: 1/3;
        grid-row: 4;
        display: grid;
        width:100%;
        grid-template-columns: repeat(auto-fill, minmax(9rem,1fr));

    }
    .gallery-item{
        width: 10rem;
        height:13rem;
        border:1px solid black;
        margin:0;
    }
}

