*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.header{
    display: flex;
    width:100%;
    color:black;
    flex-direction: column;
    background-image: url("../pexels-alex-andrews-271121-1983037.jpg");
    height:100vh;
    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
.logo-history-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 50%;
}
.navigation-menu{
    width:60%;
    align-self: last baseline;
}
.navigation-menu ul{
    display: flex;
    width:100%;
    gap:5px;
    list-style: none;
    margin:5px 0;
}
.navigation-menu ul li{
    width:100%;
    height: fit-content;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
}
.navigation-menu ul li ul{
    display: none;
    margin:5px 0;
}
.navigation-menu ul li ul li{
    padding:5px 0;
}
.navigation-menu ul li ul li:hover{
}
.navigation-menu ul li:hover ul{
    display: block;
}
.history-watchlist{
    display: flex;
    gap:2.5rem;
}