*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.header{
    display: flex;
    width:100%;
    color:black;
    flex-direction: column;
    height:50vh;
    position: relative;
}

.user-history{
    display: flex;
    justify-content: space-between;
    width:10%;
}
.logo{
    min-width:20rem;
}
.search-bar{
    width:60%;
    position: relative;
}
.search-bar input{
    width:100%;
    padding:.6rem;
    border-radius: 10px;
    outline:none;
}
.search-icon{
    color:white;
    position:absolute;
    font-size: 2rem;
    right:0;
    transform: translate(-10%,10%);
    background-color: black;
    border:2px solid red;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}
.logo-search-user{
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-around;
}
.banner-text{
    background-color: rgba(0,0,0,0.6);
    width: min(400px, 50vw);
    height: min(400px, 40vh);
    position: absolute;
    top:50%;
    transform: translate(10%, 0%);
}
.banner-text p{
    font-size:clamp(1px, 10px, 4rem);
    color:grey;
}

.Footer{
    width:100%;
    height:60vh;
    background-image: url("../pexels-hikaique-598917.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    place-content: center;
};
.form-container{
    width:50%;
    height:100%;
    margin:auto;
    align-content: center;
    background-color: green;
}
.form-container h2{
    text-align: center;
    padding-bottom: .4rem;
    text-decoration: underline red;
}
.form-details{
    width:90%;
    margin:2rem auto;
    display: flex;
    /* flex-wrap: wrap; */
    place-self: center;
    place-content: center;
}
.form-left-half{
    min-width: 25rem;
}

.form-right-half{
    min-width: 25rem;
}
.form-element{
    width:100%;
    margin:.5rem auto;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    padding:.4rem;
}
.form-element select{
    width:80%;
}
.form-element input{
    font-size: 1rem;
    outline: none;
    border:1px solid grey;
    padding:.5rem 1rem;
    border-top: none;
    border-radius: 5px;
    width:80%;
}

.login-signup-btn{
    padding:.5rem 4rem;
    font-size: 1rem;
    text-transform: capitalize;
    cursor:pointer;
    margin:1rem 0;
    outline: none;
    background-color: teal;
    border:none;
    border-radius: 10px;
    color:white;
}
.login-signup-btn:hover{
    border:2px solid red;
}
.Footer, .location-contacts{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer-section-top{
    display: flex;
    width:80%;
    margin:auto;
    justify-content: space-between;
    height:10rem;
    place-items: center;
}
@media (max-width: 760px) {
    
    .form-element{
        flex-direction: row;
    }
}