.models-showcase{
    display: flex;
    width:100%;
    justify-content: center;
    flex-direction: column;
    margin: auto;;
}
.flex-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:2rem;
    color:white;
    font-size: 1.3rem;
}
.social-media-contacts{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.social-media-contacts > *{
    width:2rem;
    height:auto;
    background-color: black;
    border:2px solid red;
    color:color;
    border-radius: 50%;
    cursor: pointer;
}
.homepage-models--wrapper{
    display: flex;
    width:100%;
    flex-direction: column;
}
/* models page */
.alphabet-filter--wrapper{
    width:100%;
    display: flex;
    justify-content: center;
    place-self: center;
    place-content: center;
    place-items: center;
}
.models-main-heading{
    align-items: center;
    text-transform: capitalize;
    margin:.5rem auto;
}
.alphabet-filter{
    display: flex;
    min-width:80%;
    justify-content: space-around;
    margin:1em auto;
    place-self: center;
    flex-wrap: wrap;
}
.alphabet-btn{
    background-color: white;
    color:black;
    border-radius: 5rem;
    border:1px solid black;
    font-size: 1.5rem;
    padding:.7rem .5rem;
    cursor: pointer;
}
.alphabet-btn:hover{
    background-color: teal;
    transition: 300ms ease;
    text-decoration: underline;
    border:1px solid white;
    color:white;
}
.models-filters-wrapper{
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 74%;
}
.models-page--showcase{
    display: grid;
    max-width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap:0;
    margin: auto;;
}
.model-wrapper{
    width: 18rem;
    border-radius: 5px;
    margin: .5rem;
    border:1px solid grey;
}
.model-wrapper:hover{
    box-shadow: 5px 5px 5px 5px gray;
}
.model-image--wrapper{
    max-width: 17rem;
    margin: .5rem auto;
    width:100%;
    border-radius: 5px;
}
.model-image{
    width:100%;
    object-fit: cover;
    height:22rem;
    border-radius: 5px;
}
.model--content{
    padding:.5rem;
}
.model--content--wrapper{
    line-height: 1.5rem;
}
/* Filters */
.models-model-filters{
    width:30vw;
}
.filter-btn-wrapper{
    position: relative;
}
.filters{
    position:absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    z-index: 2;
    background-color: white;
}
.filters .filter-elements input{
    border:none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    outline: none;
    font-size: large;
}
.filters .filter-elements *{
    width:100%;
    padding:0.4rem
}
.filters .filter-elements button{
    border:none;
    background-color: teal;
    color:white;
    cursor: pointer;
    font-size: medium;
}
.filters .filter-elements{
    margin:.5rem 0 0 0;
}
.filters .clearFilters{
    color:white;
    background-color: red;
    padding:0.4rem;
    cursor: pointer;
}

.logo-search-user{
    border:1px solid green
}

/*specific model details page*/
.model-details-page--wrapper{
    width:100%;
    margin: auto;
}
.model-details--wrapper{
    margin:10rem auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 3rem 25rem 1fr;
    max-width: 95vw;
}
.model-name--wrapper{
    margin:auto;
    grid-column: 2/3;
    padding:.2rem
}
.models-details--profile{
    max-width: 100%;
    grid-column: 1/2;
    grid-row: 2;
    min-height: 20rem;
}
.model-details-wrapper{
    width:100%;
    grid-column: 2/3;
    grid-row: 2;
    max-width: 15rem;
    padding:1rem;
    text-transform: capitalize;
    margin-top: 2rem;
    line-height: 2rem;
}
.model-contacts{
    margin-top:1rem;
    max-width: 70%;
    border:1px solid red
}
.model-details--motivation{
    width:100%;
    grid-column: 3/5;
    grid-row: 2;
    padding:1rem;
    min-height: 5rem;
    height:25rem;
}
.models-details--profile img{
    width:100%;
    height:100%;
    object-fit: contain;
}
.model-details--gallery{
    grid-column: 1/5;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
    place-items: center;
    gap:.5rem;
}
.gallery-item{
    width: 18rem;
    height:18rem;
    border:1px solid black
}
.gallery-image{
    width:100%;
    height:100%;
}
.gallery-item:hover{
    box-shadow: 5px 5px 5px 5px gray;
}
@media (max-width:740px){

    .model-details--wrapper{
        margin:auto;
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: 2rem 18rem 18rem 1fr;
        max-width: 95vw;
        grid: 1rem;
    }
}
@media (max-width:940px){
    .models-filters-wrapper{
        width:100%;
        display: flex;
        flex-direction: column;
    }
    .model--experience{
        font-size: 1.03rem;
    }
    .model--country{
        font-size: 1.1rem;
    }
    .model--name{
        font-size:1.5rem;
    }
    .models-model-filters{
        min-width:100%;
        border:1px solid black
    }
    .models-page--showcase{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        place-items: center;
    }
    .model-wrapper{
        width: 10rem;
        border-radius: 5px;
        margin: .5rem;
        font-size: .6rem;
        height:22rem;
    }

    .model-image--wrapper{
        max-width: 50vw;
        margin: .5rem auto;
        width:100%;
        border-radius: 5px;
        height: 16rem;
    }
    .model--content--wrapper{
        line-height: 1.1rem;
    }
    .model-image{
        width:100%;
        object-fit: cover;
        height:16rem;
        border-radius: 5px;
        /* margin-top:0; */
    }
    
    /* Filters */
    .models-model-filters{
        width: 100%;
    }
    .filters{
        width:50vw;
    }
    .model--content--wrapper{
        line-height: 1rem;
    }
    .model-details--wrapper{
        margin:auto;
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: 2rem 20rem 13rem 1fr;
        max-width: 95vw;
        grid: 1rem;
    }
    .models-details--name{
        grid-column: 1;
        grid-row: inherit;
    }
    .models-details--profile{
        width:20rem;
        grid-column: 1/2;
        grid-row: 2;
        height: 20rem;
    }
    .model-details-wrapper{
        width:100%;
        grid-column: 2/3;
        grid-row: 2;
        margin-right: 1rem;
        min-width: 100%;
        line-height: 1rem;
    }
    .model-details--motivation{
        width:100%;
        grid-column: 1/3;
        grid-row: 3;
        height:fit-content;
        margin-bottom: 2rem;
    }
    .model-details--gallery{
        grid-column: 1/3;
        grid-row: 4;
        display: grid;
        width:100%;
        grid-template-columns: repeat(auto-fill, minmax(9rem,1fr));

    }
    .gallery-item{
        width: 10rem;
        height:13rem;
        border:1px solid black;
        margin:0;
    }
}
