@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Yeseva+One&display=swap');
@media  (max-width:760px) {
    .header{
        height:auto;
        /* overflow: hidden; */
    }
    .logo-search-user{
        position: relative;
        width:80vw;
        align-self: right;
        float: right;
        z-index: 4;
        height:7vh;
    }
    .logo{
        width:30vw;
    }
    .user-history{
        right:20%;
    }
    .navigation-menu a{
        color:black;
        text-decoration: none;
    }
    .navigation-menu--small-screen{
        display: flex;
        position: absolute;
        padding:10px;
        width:100vw;
        top:10px;
        z-index: 1;
        height:80vh;
    }
    .navigation-menu--small-screen a{
        color:black;
        text-decoration: none;
        font-family: "Yeseva One", serif;
    }
    .navigation-menu--small-screen .nav-links{
        list-style:none;
        padding:1vh 0;
        margin: 3rem 0;
        width:100vw;
        font-size: 1.4rem;
        font-family: "Yeseva One", serif;
        background-color: white;
    }
    .navigation-menu--small-screen .nav-links li{
        padding:1rem 1rem;
        color:black;
        cursor: pointer;
        width:auto;
        font-family: "Yeseva One", serif;
    }
    .navigation-menu--small-screen .nav-links li:hover{
        padding-left: 1rem;
        background-color: red;
    }
    .navigation-menu--small-screen .models-group{
        position: relative;
    }
    .models-group .menu-model-categories{
        position:absolute;
        transform: translate(35%, 0%);
        background-color: teal;
        width:100%;
        top:0;
        left:0;
        min-width: 14rem;
        width:fit-content;
        height:fit-content;
        display: none;
    }
    .models-group:hover .menu-model-categories{
        display: block;
        transition: 1s ease-in-out;
    
    } 
    .models-group .menu-model-categories ul{
        display: flex;
        flex-direction: row;
    }
    .models-group .menu-model-categories ul li{
        display: inline-block;
        width:100%;
        font-size: 2.2rem;
    } 
    .models-group .menu-model-categories ul .models-group__subgroup ul{
        display: flex;
        flex-direction: column;
        padding: 5px 0;
    }
    .models-group .menu-model-categories ul .models-group__subgroup ul li{
        padding: 5px 0;
    } 
    .menu-control{
        position: absolute;
        top:0;
        z-index: 4;
    }
    .hidden{
        display: none;

    }
}
.sticky-menu{
    top:7%;
    position:fixed;
    background-color: white;
    z-index: 10;
    width:100vw;
    height:10vh;
}
.logo-search-user{
    background-color: black;
}
.navigation-menu--wrapper{
    margin: 1rem 0;
    padding-top:1rem;
    font-size: large;
    font-weight: 500;

}
.navigation-menu{
    width:70%;
    margin:auto;
}
.navigation-menu ul{
    display: flex;
    width:99%;
    gap:5px;
    list-style: none;
    margin:5px auto;
}
.navigation-menu ul li{
    width:100%;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    font-family: "Yeseva One", serif;
}
.navigation-menu ul li ul{
    display: none;
    margin:5px 0;
}
.navigation-menu ul li ul li{
    padding:5px 0;
}
.menu-model-categories{
    display: flex;
    flex-direction: row;
}
.navigation-menu ul li:active{
    color:teal;
}
.navigation-menu ul li:hover ul{
    display:flex;
}
.history-watchlist{
    display: flex;
    gap:2.5rem;
}
.models-group{
    position: relative;
    align-items: center;
    margin:auto;
}
.menu-model-categories{
    background-color: teal;
    position:absolute;
    transform: translateX(-50%); /* Center horizontally */
    min-width: 14rem;
    width:25rem;
    height: fit-content;
    display: none;
    left:50%;
}
.models-group:hover .menu-model-categories{
    display: block ;
}
.menu-control{
    border:none;
    font-size: 1.5rem;
    background-color: transparent;
    padding:.5rem;
    border:2px solid red;
    border-radius: 5rem;
}
.nav-links li a{
    width:100%;
    height:fit-content
}

